body {
  background-color: black;
  color: white;
  font-size: 62.5%; /* Causes base font size to be ~10px */
  font-family: Poppins, sans-serif;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 355px;
  text-align: center;
  display: flex;
  flex-direction: column;
}


.try-it {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: hsl(248, 32%, 49%) ;
  border-radius: 10px;
  font-size: 150%;
}

.try-it p {
  max-width: 60%;
}

.sign-up {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  
}

.sign-up input{
  min-width: 80%;
  border-radius: 5px;
}


.claim-trial {
  min-width: 82%;
  background-color: hsl(154, 59%, 51%);
  border-radius: 5px;
 }



.terms {
  color: hsl(246, 25%, 77%)
 }
